.theme-default-content{
  // font-size: 14px;

  img {
    border: solid 1px #e8e8e8;
    border-radius 3px;
    margin: 8px 0;
    width: 40%;
  }

  p {
    line-height 1.6;
  }

}

.sidebar-heading {
  cursor: default!important;
}

.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
  opacity: 1!important;
  cursor: pointer!important;
  user-select: none;
}
