// 默认值
//$accentColor = #db1e4b
$accentColor = #3572b0
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$mediumZoomZIndex = 10000
